In [3]:
import pandas as pd--#1st Question
data = {
    'Name': ['John', 'Alice', 'Bob', 'Diana'],
    'Age': [28, 34, 23, 29],
    'Department': ['HR', 'IT', 'Marketing', 'Finance'],
    'Salary': [45000, 60000, 35000, 50000]
}
df = pd.DataFrame(data)
print(df)

    Name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000
2    Bob   23  Marketing   35000
3  Diana   29    Finance   50000

In [ ]:
# Write code to:
   - Display the first 2 rows of the DataFrame.
   - Add a new column named `Bonus` where the bonus is 10% of the salary.
   - Calculate the average salary of employees in the DataFrame.
   - Filter and display employees who are older than 25.